<html>
	<head>
        <% include ./partials/head %>
	</head>
	<body>
		<header>
		  <div onclick="window.location.href='/'" href="#default" class="favicon"><img class="image" src="/images/favicon.png"></div>
		  <div class="right">
		    <a class="active" href="/login">Log in</a>
		  </div>
		</header>
		<section>
			<div id="container" class="container">
            	<!-- <h2>O que você está procurando</h2> -->
				<form id="product-filter-form" class="box-1">
					<input type="hidden" name="location" value="productCatalog">
					<input type="text" name="name" class="input-search" placeholder="O que você está procurando?" autocomplete="off">
					<input type="hidden" name="code" class="btn-generic-small" placeholder="Cód" autocomplete="off">
					<select name="color" id="product-catalog-color" class="select-search-color" autocomplete="off">
						<option value="">Cor</option>
						<% for(i in productColors){ %>
							<option value="<%= productColors[i].shortcut %>"><%= productColors[i].name %></option>
						<% } %>
					</select>
					<input type="submit" class="btn-search-submit" value="Filtrar">
				</form>

			</div>
			<div id="product-catalog" class="container">
				
			</div>
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./partials/footer %>
        <% include ./product/partial %>
        </script>
	</footer>
</html>