<html>
	<head>
        <% include ./partials/head %>
	</head>
	<body>
		<header class="image-fit" style="height:150px;background-image: url('https://images.iphonephotographyschool.com/22682/How-To-Blur-Background-On-iPhone.jpg')">
			<div onclick="window.location.href='/'" href="#default" class="favicon"><img class="favicon-image" src="/images/favicon/favicon-black.png"></div>
			<div class="right">
				<a class="active" href="/login">Log in</a>
			</div>
		</header>
		<section>
			<div class="container">
                <div class="box one center padding-10 margin-top-10">
                	<h2 class="box one padding-10 paladino">Catálogo de produtos</h2>
					<form id="product-catalog-filter-form" class="box one container">
						<input type="hidden" name="location" value="product-catalog">
						<input type="text" name="code" class="box four input-generic margin-top-5" placeholder="Cód" autocomplete="off">
						<input type="text" name="name" class="box four input-generic margin-top-5" placeholder="Nome" autocomplete="off">
						<select name="color" class="box four input-generic margin-top-5" name="color">
							<option value="">Cor</option>
							<% for(i in productColors){ %>
								<option value="<%= productColors[i].shortcut %>"><%= productColors[i].name %></option>
							<% } %>
						</select>
						<input type="submit" class="box four input-generic margin-top-5 bold" value="Filtrar">
					</form>
				</div>
				<div id="product-catalog-filter-box" class="box one center hide">
					<div id="product-catalog-container" class="container"></div>
	        		<% include ./partials/carousel %>
				</div>
			</div>
			<div class="container padding-10" style="background-color:#464646;color:#f0f0f0">
				
			</div>
			<div class="container padding-10" style="background-color:#323232;color:#f0f0f0">
				<div class="box b2 paladino">
					© 2021 JA Rio Militar - Loja e fábrica de artigos militares e esportivos. Todos os direitos reservados.
					JC CARVALHO ME. / CNPJ: 14.114.604/0001-73 / 79.Inscrição Estadual: 79.695.874
					Endereço Avenida Governador Adolfo Konder, 705, BL 01 - Armazém 07, Cidade Nova, Itajaí - SC. CEP: 88.308-001
				</div>
			</div>
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./partials/footer %>
		<script src="/javascripts/scripts/product/model/main.js"></script>
		<script src="/javascripts/scripts/product/view/main.js"></script>
		<script src="/javascripts/scripts/product/controller/main.js"></script>
		<script src="/javascripts/scripts/product/controller/catalog.js"></script>

		<script src="/javascripts/scripts/product/model/catalog.js"></script>
		<script src="/javascripts/scripts/product/controller/catalog.js"></script>
		<script src="/javascripts/scripts/product/view/catalog.js"></script>
	</footer>
</html>