<html>
	<head>
        <% include ./partials/head %>
	</head>
	<body>
		<header class="image-fit" style="height:150px;background-image: url('https://image.shutterstock.com/image-vector/vector-black-geometric-background-design-260nw-1223389576.jpg');">
			<div onclick="window.location.href='/'" href="#default" class="favicon"><img class="favicon-image" src="/images/favicon/favicon-white.png"></div>
			<div class="right">
				<a class="active" href="/login">Log in</a>
			</div>
		</header>
		<section>
			<div class="container">
                <div class="box one center padding-10 margin-top-10">
                	<h2 class="box one padding-10 paladino">Catálogo de produtos</h2>
					<form id="product-catalog-filter-form" class="box one container">
						<input type="hidden" name="location" value="product-catalog">
						<input type="text" name="code" class="box four input-generic margin-top-5" placeholder="Cód" autocomplete="off">
						<input type="text" name="name" class="box four input-generic margin-top-5" placeholder="Nome" autocomplete="off">
						<select name="color" class="box four input-generic margin-top-5" name="color">
							<option value="">Cor</option>
							<% for(i in productColors){ %>
								<option value="<%= productColors[i].shortcut %>"><%= productColors[i].name %></option>
							<% } %>
						</select>
						<input type="submit" class="box four input-generic margin-top-5 bold" value="Filtrar">
					</form>
				</div>
				<div id="product-catalog-filter-box" class="box one center hide">
					<div id="product-catalog-container" class="container"></div>
	        		<% include ./partials/carousel %>
				</div>
			</div>
			<div class="container padding-10" style="background-color:#3c3c3c;color:#c8c8c8">
				<div class="box b4 container center padding-10">
					<div class="box b1 center bold">Aliste-se no Batalhão JA Rio Militar</div>
					<div class="box b1 center">e fique por dentro das novidades</div>
				</div>
				<div class="box b3-4 container center">
					<input type="text" class="box b3 input-generic center bold" name="customer_name" placeholder="Nome">
					<input type="text" class="box b3 input-generic center bold" name="customer_email" placeholder="E-mail">
					<input type="text" class="box b12 input-generic center bold" name="customer_uf" placeholder="UF">
					<input type="text" class="box b4 submit-generic center" value="Enviar" style="color:#1e1e1e">
				</div>
			</div>
			<div class="container padding-10" style="background-color:#323232;color:#c8c8c8">
				
			</div>
			<div class="container padding-10" style="background-color:#1e1e1e;color:#c8c8c8">
				<div class="box b2 font-08 avant-garde margin-top-10 padding-10">
					© 2021 JA Rio Militar - Loja e fábrica de artigos militares e esportivos. Todos os direitos reservados.
					JC CARVALHO ME. / CNPJ: 14.114.604/0001-73. Inscrição Estadual: 79.695.874
					Endereço Rua Correa Seára, 100, LJ 01, Magalhães Bastos, Rio de Janeiro - RJ. CEP: 21750-320
				</div>
				<div class="box b4 container margin-top-10 center">
					<div class="box b1 avant-garde center">Formas de pagamento</div>
					<div class="box b1 container padding-10 center">
						<div class="mobile-box b4"><img class="height-30" src="/images/icon/visa-icon.png"></div>
						<div class="mobile-box b4"><img class="height-30" src="/images/icon/master-card-icon.png"></div>
						<div class="mobile-box b4"><img class="height-30" src="/images/icon/boleto-icon.png"></div>
						<div class="mobile-box b4"><img class="height-30" src="/images/icon/pix-icon.png"></div>
					</div>
				</div>
			</div>
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./partials/footer %>
		<script src="/javascripts/scripts/product/model/main.js"></script>
		<script src="/javascripts/scripts/product/view/main.js"></script>
		<script src="/javascripts/scripts/product/controller/main.js"></script>
		<script src="/javascripts/scripts/product/controller/catalog.js"></script>

		<script src="/javascripts/scripts/product/model/catalog.js"></script>
		<script src="/javascripts/scripts/product/controller/catalog.js"></script>
		<script src="/javascripts/scripts/product/view/catalog.js"></script>
	</footer>
</html>