<html>
    <head>
        <% include ./../partials/head %>
    </head>
    <body>
        <header>
            <a href="/"><img src="/images/favicon.png" class="favicon"></a>
        <div>
            <a href="/user">Perfil</a>
            | <a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Sair</a>
        </div>
        </header>
        <section>
            <div class="container">
                <div class="box-1">
                    
                </div>
            </div>
        </section>
    </body>
    <footer>
        <% include ./../partials/footer %>
        </script>
    </footer>
</html>