<html>
	<head>
        <% include ./../partials/head %>
	</head>
    <header class="header-background fill">
		<div onclick="window.location.href='/'" href="#default" class="favicon"><img class="favicon-image" src="/images/favicon/favicon-black.png"></div>
	</header>
	<body>
		<section>
			<div class="container">
				<div class="box one ground center">ONE</div>
				<div class="box two margin-top-15 padding-10 center">
					<div class="container">
						<div class="box two box-hover center">DENTRO</div>
						<div class="box two box-hover center">DENTRO</div>
					</div>
				</div>
				<div class="box two ground margin-top-15 center">TWO</div>
			</div>
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./../partials/footer %>
	</footer>
</html>