<style type="text/css">
	.carousel-btn-1 {
		transition: all 0.7s ease 0s;
	}

	.carousel-btn-1:hover {
		transition: all 0.3s ease 0s;
	}

</style>

<div name="carousel-navigation" class="box one container padding-10 margin-top-10 center">
	<button name="carousel-previous" class="mobile-box b3 noborder" disabled><img class="height-50 icon pointer" src="/images/icon/prev.png"></button>
    <div name="carousel-page" class="mobile-box b3 em15 avant-grande center" style="color: #323232"></div>
    <button name="carousel-next" class="mobile-box b3 noborder" disabled><img class="height-50 icon pointer" src="/images/icon/next.png"></button>
</div>