<div name="carousel-navigation" class="box one padding-10 margin-top-10 center">
	<button name="carousel-previous" class="box b10 submit-generic pointer" style="color:#323232;" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
    <span name="carousel-page"></span>
    <button name="carousel-next" class="box b10 submit-generic pointer" style="color:#323232;" autocomplete="off" disabled>&rsaquo;&rsaquo;</button>
</div>