<div class="container">
	<div class="mobile-box a6">
		<img class="width-150 opacity-hover-08 pointer" onclick="window.location.href='/'" src="/images/favicon/favicon-black.png">
	</div>
	<div class="mobile-box right padding-20">
		<a class='underline padding-5 avant-garde'>Login</a>
		<a class='underline padding-5 avant-garde'>Signup</a>
	</div>
</div>