<div class="navigation">
	<div class="dropdown">
		<select onChange="catalogFilter(this.value)" class="dropbtn">
			<option value="Colete">Coletes</option>
			<option value="plate carrier">Plate Carrier</option>
			<option value="close">Close</option>
			<option value="ja3">JA3</option>
			<option value="gola">Gola</option>
			<option value="bope">Bope</option>
		</select>
	</div>

	<div class="dropdown">
		<select onChange="catalogFilter(this.value)" class="dropbtn">
			<option value="modular">Modulares</option>
			<option value="porta carregador fuzil">Porta Carregador de Fuzil</option>
			<option value="porta carregador pistola">Porta Carregador de Pistola</option>
			<option value="porta camelback">Porta Camelback</option>
			<option value="bolsa p">Bolsa Pequena</option>
			<option value="bolsa m">Bolsa Média</option>
			<option value="porta radio">Porta Rádio/HT</option>
			<option value="coldre modular">Coldre</option>
		</select>
	</div>

	<div class="dropdown">
		<select onChange="catalogFilter(this.value)" class="dropbtn">
			<option value="tatico">Acessórios</option>
			<option value="coldre de perna">Bornal</option>
			<option value="coldre de perna">Coldre de Perna</option>
			<option value="bandoleira">Bandoleira</option>
		</select>
	</div>
</div>