<header>
	<!--
	<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
	    <option value="">Produção</option>
	    <option value="/">Costura Externa</option>
	    <option value="/">Costura Interna</option>
	    <option value="/seamstress/index">Costureiras</option>
	</select>
	-->
	<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
	    <option value="">Financeiro</option>
	    <option value="/financial/index">Gerir Receitas / Despesas</option>
	    <option value="/financial/income">Configurar Receitas</option>
	    <option value="/financial/outcome">Configurar Despesas</option>
	</select>
	<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
	    <option value="">Matéria-Prima</option>
	    <option value="/feedstock/manage">Gerir Materias-Primas</option>
	    <option value="/feedstock/supplier">Gerir Fornecedores</option>
	    <option value="/feedstock/request">Pedido avulso</option>
	    <option value="/feedstock/regress">Pedido de retorno</option>
	    <option value="/feedstock/purchase">Pedido de compra</option>
	    <option value="/feedstock/purchase/manage">Gerir Compras</option>
	    <option value="/feedstock/storage">Estoque</option>
	    <option value="/feedstock/storage/manage">Gerir Estoque</option>
	</select>
	<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
	    <option value="">Produtos</option>
	    <option value="/product/manage">Gerir Produtos</option>
	    <option value="/product/production">Solicitar Produção</option>
	    <option value="/product/production/manage">Gerir Produções</option>
	</select>
</header>