<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
		<header>
			<div onclick="window.location.href='/'" href="#default" class="favicon"><img class="image" src="/images/favicon.png"></div>
			<div class="right">
			<a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Sair</a>
			</div>
		</header>
        <% include ./../partials/nav %>
		<section>
			<div class="container">
				<div class="box-2">
            		<strong class="underline">Nova Costureira</strong>
					<form id="seamstress-create-form" class="box-1">
						<input type="text" name="seamstress_name" class="btn-generic-big" id="seamstress-create-name" placeholder="Nome da costureira" autocomplete="off" maxlength="15">
						<input type="submit" class="btn-generic-medium" id="seamstress-create-submit" value="Cadastrar">
					</form>
				</div>
				<div class="box-2">
            		<strong class="underline">Procurar Costureira</strong>
					<form id="seamstress-filter-form" class="box-1">
						<input type="text" name="name" class="btn-generic-small" placeholder="Nome" autocomplete="off">
						<input type="submit" class="btn-generic-small" value="Filtrar">
					</form>
					<div id="seamstress-div">
						<table class="tbl-info" id="seamstress-tbl"></table>
						<br>
						<button id="seamstressPrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
	                    <span id="seamstressPageNumber"></span>
	                    <button id="seamstressNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button>
					</div>
				</div>
			</div>
		</section>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
	</footer>
</html>