<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
		<% include ./../partials/header %>
        <% include ./../partials/nav %>
		<section>
			<div class="container">
				<div class="box-2">
					INDEX	
				</div>
			</div>
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
        <script src="/javascripts/scripts/product/model/catalog.js"></script>
		<script src="/javascripts/scripts/product/controller/catalog.js"></script>
		<script src="/javascripts/scripts/product/view/catalog.js"></script>
	</footer>
</html>